# ===========================
# Application
# ===========================
APP_NAME=APP NAME
# ===========================
# Database (PostgreSQL)
# ===========================
DB_HOST=localhost
DB_PORT=port
DB_USER=user
DB_PASSWORD=password
DB_NAME=db_name
# ===========================
# Security
# ===========================
SECRET_KEY=secret str
ACCESS_TOKEN_EXPIRE_MINUTES=0
REFRESH_TOKEN_EXPIRE_DAYS=0
