# ===========================
# Application
# ===========================
APP_NAME=APP NAME

# ===========================
# Database (PostgreSQL)
# ===========================
DB_HOST=localhost
DB_PORT=port
DB_USER=user
DB_PASSWORD=password
DB_NAME=db_name

SECRET_PEPPER=secret str
